html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

 
.deck .card.open {
    transform: rotateY(0);
    background: #ff0000;
}


.deck .card.show {
    font-size: 36px;
}

.deck .card.match {
    background: #02ccba;
}

.deck .card.unmatched {
    background: #1b1b5c;
}


/*
 * Styles for the Score Panel
 */

.score {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score .stars li {
    list-style: none;
    display: inline-block;
}

.score .restart {
    float: right;
    cursor: pointer;
}

.timer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.modal .show {
    display: none;
}

.modal .show {
    position: relative;
    width: 300px;
    height: 300px;
    top: 30%;
    left: 44%;
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}


.modal .show h1 {
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.modal .show p {
    text-align: center;
    font-size: 16px;
}

.modal .show button {
    display: flex; 
    justify-content: center;
    background-color: #ff0000;
    font-size: 16px;
}

.popup {
    display: none;
}

.popup .show {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}